div{

    font-size: 16px;
    font-family: Arial;
    text-align: justify;
    text-decoration: double;
    color: black;
    background-color: white;
   width: 1250px;
   height: 1500px;
   margin: 0 auto;
   padding: 0;
   float: center fixed;
   display: block;

}

body{
    background-color: whitesmoke;
    vertical-align: 2px;
    margin: 0 auto;	
	padding:0;
}

h1{
    text-align: center;
    font-size: 30pt;
}
h2{ text-align: center;
    
}

h4{ text-align: justify;}

.CT{height: 100px;
    width: 1200px;
    float: left;
    border: 1cm;
    border-color: black;

}
    
    
.geral {
    height: 400px;
    width: 300px;
    float: left;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 0.3cm;
    text-align: justify;
}

.escolaridade{

    height: 400px;
    width: 300px;
    float: left;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 0.3cm;
    text-align: justify;
}

.curso{
    
    height: 800px;
    width: 400px;
    float: left;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 0.3cm;
    text-align: justify;
}

.info{
   
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 0.3cm;
    text-align: justify;
} 

.profissional{
   
    height: 400px;
    width: 800px;
    float: left;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
    text-align: justify;
}

img{
    height: 300px;
    width: auto;
    float: left;
    border: 1cm;
    border-color: black;
}