

.loader{
    position: relative;
    width: 64px;
    height: 64px;
}

.loader div{
    position: absolute;
    border: 4px solid #454ade;
    border-radius: 50%;
    animation: loader 1s ease-out infinite;
}

.loader div:nth-child(2){
    animation-delay: -0,5;
}

@keyframes loader{
    0%{
        top: 32px;
        left: 32px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100%{
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        opacity: 0;

    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
}

.wrapper{
    width: 360px;
    height: 100px;
    background: red;
    border-radius: 10px;

}
.wrapper .display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: blue;
    width: 345px;
    height: 85px;

}